.header
    padding: 57px 0 117px 0
    display: flex
    justify-content: space-between
    align-items: center
    &_name
        font-size: 24px
        font-weight: 700
        color: $main-color
        margin-left: 25px
    &_link
        font-size: 14px
        font-weight: 700
        color: $main-color
        &:not(:last-child)
            margin-right: 37px
    &_active
        background: #5528FF
        border-radius: 5px
        padding: 3px 14px
        color: #fff
        &:hover
            color: #fff
